$theme-colors: (
	'primary': #00564d,
	'dark': #282828,
	'danger': #a31919
);

$link-color: #00897b;
$link-hover-color: #00897b;

.fancy-font {
	font-family: 'Oleo Script Swash Caps', cursive;
}

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
